<div class="dropdown-divider  my-3"></div>

<h5 class="my-3">Work Package Information</h5>

<div class="form-row">
    <div class="col-5">
        <!-- project name -->
        <div class="input-group ">
            <div class="input-group-prepend">
                <span class="input-group-text">Project Name</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="wp.projectName"
                [readOnly]="(mode ==='read' || mode==='update' || mode==='create')">

        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
        <!-- project Id -->
        <div class="input-group ">
            <div class="input-group-prepend">
                <span class="input-group-text">Project ID</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="wp.projectId" [readOnly]="true">
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="  my-3"></div>
<div class="form-row">
    <div class="col-5">

        <!-- wp title -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">W.P. Title</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="wp.wpTitle" (blur)="onExitUserName()"
                [readOnly]="mode ==='read' || mode=='update'">
        </div>
        <span *ngIf="alerts.wpTitle" class="error my-2"><small>{{alerts.wpTitle.msg}}</small></span>

    </div>
    <div class="col-1">
    </div>
    <div class="col-5">
        <!-- wp Code -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">W.P. Code</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="wp.wpId" [readOnly]="mode ==='read'">
        </div>
        <!--<span *ngIf="alerts.wpCode" class="error my-2"><small>{{alerts.wpCode.msg}}</small></span>-->
    </div>
    <div class="col-1">
        <div *ngIf="(mode ==='create' || mode ==='update')">
            <i *ngIf="validUsername" class="material-icons pass my-2">check_circle</i>
            <i *ngIf="!validUsername" class="material-icons error  my-2">error</i>
        </div>
    </div>
</div>
<div class="  my-3"></div>
<div class="form-row">
    <div class="col-5">
        <!-- contractor -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Contractor</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="wp.contractor" (blur)="onExitEmployeeId()"
                [readOnly]="mode ==='read' || mode=='update'">
        </div>
        <!--<span *ngIf="alerts.contractor" class="error my-2"><small>{{alerts.contractor.msg}}</small></span>-->
    </div>
    <div class="col-1">
    </div>
    <div class="col-5">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Issue Date</span>
            </div>
            <input id="weekEnd" type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                [outsideClick]="true" [bsConfig]="{selectWeek: true, dateInputFormat: 'YYYY-MM-DD' }"
                [isDisabled]="(mode == 'read' || mode =='update')" value="{{ wp.issueDate | date:'yyyy-MM-dd' }}"
                [readonly]="(mode == 'read' || mode =='update')" />
            <!--(bsValueChange)="onValueChange($event)"-->
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="  my-3"></div>
<div class="form-row">
    <div class="col-5">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Responsible Engineer</span>
            </div>
            <input type="text" class="form-control" value="{{wp.responsibleEngineer.employeeId}}" *ngIf="mode==='read'"
                [readOnly]="true">
            <p-dropdown class="form-control" [options]="engineerDropdown" [(ngModel)]="selectedEngineer"
                *ngIf="mode ==='create' || mode==='update'"
                placeholder="{{wp.responsibleEngineer ? wp.responsibleEngineer.employeeId : 'choose a Responsible Engineer'}}"
                optionLabel="label" [style]="{'border-width':'0px','padding':'0px'}"></p-dropdown>
        </div>
        <!--<span *ngIf="alerts.labourGrade" class="error my-2"><small>{{alerts.labourGrade.msg}}</small></span>-->

    </div>
    <div class="col-1"></div>
    <div class="col-5">

        <!-- supervisor -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Parent W.P.</span>
            </div>
            <input type="text" class="form-control" value="{{wp.projectId}}" *ngIf="mode==='read'" [readOnly]="true">
            <p-dropdown class="form-control" [options]="parentWPDropdown" [(ngModel)]="selectedParent"
                *ngIf="mode ==='create' || mode==='update'" placeholder="{{'choose a Parent WP'}}" optionLabel="label"
                [style]="{'border-width':'0px','padding':'0px'}"></p-dropdown>
        </div>
        <!--<span *ngIf="alerts.supervisor" class="error my-2"><small>{{alerts.supervisor.msg}}</small></span>-->


    </div>
    <div class="col-1"></div>
</div>
<div class="my-3"></div>

<div class="form-row">
    <div class="col-5">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Workers</span>
            </div>
            <input type="text" class="form-control" value="{{wp.workers.employeeId}}" *ngIf="mode==='read'"
                [readOnly]="true">
            <p-dropdown class="form-control" [options]="workerDropdown" [(ngModel)]="selectedWorker"
                *ngIf="mode ==='create' || mode==='update'" placeholder="{{'choose a Worker'}}" optionLabel="label"
                [style]="{'border-width':'0px','padding':'0px'}"></p-dropdown>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<div class=" my-3"></div>
<div class="dropdown-divider  my-3"></div>
<h5 class="my-3">Project Manager Planning Information</h5>

<p-table [value]="wp.pmPlannings" (onEditComplete)="onEditComplete($event)" [columns]="cols"
    [style]="{'max-width':'900px','min-width':'400px','text-align':'center'}">
    <div class="form-row">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Labour Grade</th>
                <th>Project Manager EAC (days)</th>
                <th>Responsible Engineer Budget (days)</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td class="font-weight-bold">{{rowData.labourGradeName}}</td>
                <td [pEditableColumn]="mode == 'create'|| mode == 'update'? '' : null">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.pmEAC" style="text-align:center">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span>{{rowData.pmEAC}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="mode == 'create'|| mode == 'update'? '' : null">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.reBudget" style="text-align:center">
                        </ng-template>
                        <ng-template pTemplate="output">
                            <span>{{rowData.reBudget}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
    </div>
</p-table>
<div class="dropdown-divider  my-3"></div>