<!-- This is editable -->
<form>
    <div class="form-row">

        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Week Number</span>
                </div>
                <input type="text" id="weekNum" class="form-control" [value]="timesheet.weekNumber" [readonly]="true">
            </div>
        </div>

        <div class="col-5">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Week Ending</span>
                </div>
                <input id="weekEnd" type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                    [daysDisabled]="[6,2,4,3,1,0]" [outsideClick]="true"
                    [bsConfig]="{selectWeek: true, dateInputFormat: 'YYYY-MM-DD' }"
                    (bsValueChange)="onValueChange($event)" value="{{ timesheet.weekEnding | date:'yyyy-MM-dd' }}"
                    [readonly]="!editable" [isDisabled]="!editable" />
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary" (click)="addRow($event)">Add Row</button>
        </div>
    </div>
</form>
<div class="dropdown-divider "></div>
<div *ngIf="editable" class="my-3">
    <p-table [value]="timesheet.timesheetRows" (onEditComplete)="onEditComplete($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:170px">Project Name</th>
                <th style="width:170px">W.P. Name</th>
                <th>Total</th>
                <th>Sat</th>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <p-dropdown [options]="projectDropdown" [(ngModel)]="rowData.projectName"
                                [style]="{'width':'170px'}">
                            </p-dropdown>

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.projectName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <p-dropdown [options]="wpDropdown" [(ngModel)]="rowData.pwName" [style]="{'width':'170px'}">
                            </p-dropdown>

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.pwName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output" *ngIf="rowTotal(rowData) != 0">
                            <span>{{rowTotal(rowData) | number}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <input pInputText type="text" [(ngModel)]="rowData.saturday">

                        </ng-template>
                        <ng-template pTemplate="output" *ngIf="rowData.saturday != 0">
                            <span *ngIf="validate(rowData.saturday)" class="error">{{rowData.saturday}}</span>
                            <span *ngIf="!validate(rowData.saturday)" class="pass">{{rowData.saturday}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">


                            <input pInputText type="text" [(ngModel)]="rowData.sunday" required>

                        </ng-template>
                        <ng-template pTemplate="output" *ngIf="rowData.sunday != 0">
                            <span *ngIf="validate(rowData.sunday)" class="error">{{rowData.sunday}}</span>
                            <span *ngIf="!validate(rowData.sunday)" class="pass">{{rowData.sunday}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <input pInputText type="text" [(ngModel)]="rowData.monday">

                        </ng-template>
                        <ng-template pTemplate="output" *ngIf="rowData.monday != 0">
                            <span *ngIf="validate(rowData.monday)" class="error">{{rowData.monday}}</span>
                            <span *ngIf="!validate(rowData.monday)" class="pass">{{rowData.monday}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <input pInputText type="text" [(ngModel)]="rowData.tuesday">

                        </ng-template>
                        <ng-template pTemplate="output" *ngIf="rowData.tuesday != 0">
                            <span *ngIf="validate(rowData.tuesday)" class="error">{{rowData.tuesday}}</span>
                            <span *ngIf="!validate(rowData.tuesday)" class="pass">{{rowData.tuesday}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <input pInputText type="text" [(ngModel)]="rowData.wednesday">

                        </ng-template>
                        <ng-template pTemplate="output" *ngIf="rowData.wednesday != 0">
                            <span *ngIf="validate(rowData.wednesday)" class="error">{{rowData.wednesday}}</span>
                            <span *ngIf="!validate(rowData.wednesday)" class="pass">{{rowData.wednesday}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.thursday">
                        </ng-template>
                        <ng-template pTemplate="output" *ngIf="rowData.thursday != 0">
                            <span *ngIf="validate(rowData.thursday)" class="error">{{rowData.thursday}}</span>
                            <span *ngIf="!validate(rowData.thursday)" class="pass">{{rowData.thursday}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.friday">
                        </ng-template>
                        <ng-template pTemplate="output" *ngIf="rowData.friday != 0">
                            <span *ngIf="validate(rowData.friday)" class="error">{{rowData.friday}}</span>
                            <span *ngIf="!validate(rowData.friday)" class="pass">{{rowData.friday}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <button type="button" class="btn btn-link" (click)="deleteRow(rowData)">x</button>
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="2">
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Flex</span>
                                </div>
                                <input type="text" id="weekNum" class="form-control" [value]="'question'"
                                    [readonly]="true">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Overtime</span>
                                </div>
                                <input type="text" id="weekNum" class="form-control" [value]="getOvertime()"
                                    [readonly]="true">
                            </div>
                        </div>
                    </div>
                </td>
                <!-- <td>Total</td> -->
                <td>{{timesheetTotal()}}</td>
                <td>{{colTotal("saturday")}}</td>
                <td>{{colTotal("sunday")}}</td>
                <td>{{colTotal("monday")}}</td>
                <td>{{colTotal("tuesday")}}</td>
                <td>{{colTotal("wednesday")}}</td>
                <td>{{colTotal("thursday")}}</td>
                <td>{{colTotal("friday")}}</td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>