.pass{

}
.error{
    /* display: block; */
    padding-left: 5px;
    padding-right: 5px;
    color:red;
    font-weight: bold;
}

.btn-link-normal{
    background-color: transparent !important;
    border-color: transparent !important;
}