<form>
    <div class="form-row">

        <div class="col-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Version</span>
                </div>
                <input type="text" id="weekNum" class="form-control" [value]="timesheet.versionNumber"
                    [readonly]="true">
            </div>
        </div>


        <div class="col-2">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Week Number</span>
                </div>
                <input type="text" id="weekNum" class="form-control" [value]="timesheet.weekNumber" [readonly]="true">
            </div>
        </div>

        <div class="col-6">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Week Ending</span>
                </div>
                <input id="weekEnd" type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                    [daysDisabled]="[6,2,4,3,1,0]" [outsideClick]="true"
                    [bsConfig]="{selectWeek: true, dateInputFormat: 'YYYY-MM-DD' }"
                    (bsValueChange)="onValueChange($event)" value="{{ timesheet.weekEndingIn | date:'yyyy-MM-dd' }}"
                    [readonly]="(mode == 'read' || mode =='update')"
                    [isDisabled]="(mode == 'read' || mode =='update')" />
            </div>
        </div>
        <div class="col-2" *ngIf="mode == 'create'|| mode =='update'">
            <button type="button" class="btn btn-outline-primary" (click)="addRow($event)">Add Row</button>
        </div>
    </div>
</form>
<div class="dropdown-divider "></div>

<!-- This is editable -->
<div class="my-3">
    <p-table [value]="timesheet.timesheetRows" (onEditComplete)="onEditComplete($event)">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:170px">Project Name</th>
                <th style="width:170px">W.P. Name</th>
                <th>Total</th>

                <th *ngFor="let day of days">{{day.header}}</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
            <tr>
                <!-- <td [attr.pEditableColumn]="mode == 'create'|| mode == 'update' ? '' : null">
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <p-dropdown [options]="projectDropdown" [(ngModel)]="rowData.projectId"
                                [style]="{'width':'170px'}">
                            </p-dropdown>

                        </ng-template>
                        <ng-template pTemplate="output">
                            
                            {{rowData.projectName}}
                        </ng-template>
                    </p-cellEditor>
                </td> -->
                <td>
                    <p-dropdown [options]="populateProject()" [(ngModel)]="rowData.projectId"
                        [style]="{'width':'170px'}" *ngIf="(mode == 'create'|| mode == 'update')">
                    </p-dropdown>
                    <span *ngIf="mode == 'read'">{{rowData.projectId}}</span>
                </td>
                <!-- <td [attr.pEditableColumn]="mode == 'create'|| mode == 'update'? '' : null">
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <p-dropdown [options]="populateWP(rowData.projectId)" [(ngModel)]="rowData.workPackageId"
                                [style]="{'width':'170px'}">
                            </p-dropdown>

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.pwName}}
                        </ng-template>
                    </p-cellEditor>
                </td> -->
                <td>
                    <p-dropdown [options]="populateWps(rowData.projectId)" [(ngModel)]="rowData.workPackageId"
                        [style]="{'width':'100%'}" *ngIf="(mode == 'create'|| mode == 'update')">
                    </p-dropdown>
                    <span *ngIf="mode == 'read'">{{rowData.workPackageId}}</span>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="output">
                            <span>{{rowTotal(rowData) | number}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td [pEditableColumn]="mode == 'create'|| mode == 'update'? '' : null" *ngFor="let day of days">
                    <p-cellEditor>
                        <ng-template pTemplate="input">

                            <input pInputText type="number" [(ngModel)]="rowData[day.value]">

                        </ng-template>
                        <ng-template pTemplate="output">
                            <span *ngIf="validate(rowData[day.value])" class="error">{{rowData[day.value]}}</span>
                            <span *ngIf="!validate(rowData[day.value])" class="pass">{{rowData[day.value]}}</span>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td class="p-1">
                    <button *ngIf="mode == 'create'|| mode == 'update'" type="button" class="btn btn-link"
                        (click)="deleteRow(rowData)">
                        <i class="material-icons text-danger">remove_circle_outline</i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="2">
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Flex</span>
                                </div>
                                <input type="text" id="weekNum" class="form-control" [value]="'question'"
                                    [readonly]="true">
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Overtime</span>
                                </div>
                                <input type="text" id="weekNum" class="form-control" [value]="getOvertime()"
                                    [readonly]="true">
                            </div>
                        </div>
                    </div>
                </td>
                <!-- <td>Total</td> -->
                <td>{{timesheetTotal()}}</td>

                <td *ngFor="let day of days">{{colTotal(day.value)}}</td>

                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>