<!-- <button type="button" class="btn btn-primary" [routerLink]="['/cities/',id ]">try get Vancouve weather</button>
<button type="button" class="btn btn-primary" routerLink='/cities/detail'>detail</button> -->


<!-- <div *ngFor="let item of citylist">
    <app-list-item [city]="item"></app-list-item>
</div> -->

<p>home.component.html here</p>
<button (click) ="findAvailableUsername()">find an available username</button> 

<p>Avaible username is: {{availableUsername}}</p>


<div>
    <div class="card mt-4">
        <h4 class="card-header">You're logged in with Angular 8 & JWT!!</h4>

        <!-- <div class="card-body">
            <h6>Users from secure api end point</h6>
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <ul *ngIf="users">
                <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
            </ul>
        </div> -->
    </div>
</div>