<nav class="navbar navbar-dark bg-theme">
    <div>
        <span class="navbar-brand mb-0 h1 title">
            Gerg's Beans
        </span>
        <span class="navbar-text" *ngIf="currentUser">
            {{currentUser.credentialId}}
        </span>
        <span class="navbar-text">
            version v1.0.6
        </span>

    </div>
    <div *ngIf="currentUser">
        <form class="form-inline">
            <i class="material-icons navbar-brand" (click)="goToEmployeePage()">
                account_circle
            </i>
            <h4 class="navbar-brand  mb-0 h4">
                {{currentUser.firstName}} {{currentUser.lastName}}
            </h4>
            <button class="btn btn-outline-light" type="button" (click)="logout()">Logout</button>
        </form>
    </div>
</nav>