<ul class="list-group list-group-flush ">
    <li class="list-group-item bg-navList"> MAIN MENU</li>
    <li class="list-group-item bg-navList ">
        <a routerLink="/content/employees" class="d-flex align-items-center">
            <span class="material-icons">group</span>
            <span>Employees</span>
        </a></li>
    <li class="list-group-item bg-navList">
        <a routerLink="/content/projects/supervisor/projectlist" class="d-flex align-items-center">
            <span class="material-icons">person_add</span>
            <span>Manage Project Members</span>
        </a></li>
    <li class="list-group-item bg-navList">
        <a routerLink="/content/timesheets" class="d-flex align-items-center">
            <span class="material-icons">event</span>
            <span>Timesheets</span>
        </a></li>
    <li class="list-group-item bg-navList">
        <a routerLink="/content/timesheets/approver/view/list" class="d-flex align-items-center">
            <span class="material-icons">rate_review</span>
            <span>Pending Timsheets</span>
        </a></li>
    <!-- <li class="list-group-item bg-navList"><a routerLink="/content/reports">Reports</a></li> -->
    <!-- <li class="list-group-item bg-navList"><a routerLink="/content/wp">Work Packages</a></li> -->
    <li class="list-group-item bg-navList">
        <a routerLink="/content/projects" class="d-flex align-items-center">
            <span class="material-icons">work</span>
            <span>Projects</span>
        </a></li>


</ul>