<div class="dropdown-divider  my-3"></div>

<h5 class="my-3">Employee Information</h5>

<div class="form-row">
    <div class="col-5">
        <!-- first name -->
        <div class="input-group ">
            <div class="input-group-prepend">
                <span class="input-group-text">First Name</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="employee.empFirstName" [readOnly]="mode ==='read'">

        </div>
        <span *ngIf="alerts.firstName" class="error my-2"><small>{{alerts.firstName.msg}}</small></span>



    </div>
    <div class="col-1"></div>
    <div class="col-5">

        <!-- last name -->
        <div class="input-group ">
            <div class="input-group-prepend">
                <span class="input-group-text">Last Name</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="employee.empLastName" [readOnly]="mode ==='read'">
        </div>
        <span *ngIf="alerts.lastName" class="error my-2"><small>{{alerts.lastName.msg}}</small></span>


    </div>
    <div class="col-1"></div>
</div>
<div class="  my-3"></div>
<div class="form-row">
    <div class="col-5">

        <!-- user name -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">User Name</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="employee.empUsername" (blur)="onExitUserName()"
                [readOnly]="mode ==='read' || mode=='update'">
        </div>

    </div>
    <div class="col-1">
        <div *ngIf="(mode ==='create' || mode ==='update')">
            <i *ngIf="validUsername" class="material-icons pass my-2">check_circle</i>
            <i *ngIf="!validUsername" class="material-icons error  my-2">error</i>
        </div>
    </div>
    <div class="col-5">
        <!-- password -->
        <div class="input-group" *ngIf="mode==='create'">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="employee.empPassword" [readOnly]="true">
        </div>
        <button *ngIf="mode==='update'" type="button" class="btn btn-outline-secondary  m-1 px-3"
            (click)="onRestPw()">Reset
            Password</button>


    </div>
    <div class="col-1"></div>
</div>
<div class="  my-3"></div>
<div class="form-row">
    <div class="col-5">
        <!-- employe ID -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Employee ID</span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="employee.empCode" (blur)="onExitEmployeeId()"
                [readOnly]="mode ==='read' || mode=='update'">
        </div>

    </div>
    <div class="col-1">
        <div *ngIf="(mode ==='create' || mode ==='update')">
            <i *ngIf="validEmployeeCode" class="material-icons pass my-2">check_circle</i>
            <i *ngIf="!validEmployeeCode" class="material-icons error  my-2">error</i>
        </div>
    </div>
    <div class="col-5">

      <!-- Timesheet Approver -->
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Approver</span>
          </div>
          <p-dropdown class="form-control" [options]="employeeDropdown" [(ngModel)]="selectedApprover"
              *ngIf="mode ==='create' || mode==='update'"
              placeholder="{{employee.timesheetApprover ? employee.timesheetApprover.empFirstName + ' ' + employee.timesheetApprover.empLastName : 'choose an approver'}}"
              optionLabel="label" [style]="{'border-width':'0px','padding':'0px'}" (onChange)="onChange($event)"></p-dropdown>
      </div>
      <span *ngIf="alerts.supervisor" class="error my-2"><small>{{alerts.supervisor.msg}}</small></span>
    </div>
    <div class="col-1"></div>
    
</div>
<div class="  my-3"></div>
<div class="form-row">
    <div class="col-5">

        <!-- labour grade -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Labour Grade</span>
            </div>
            <input type="text" class="form-control" value="{{employee.labourGrade.labourGradeName}}"
                *ngIf="mode==='read'" [readOnly]="true">
            <p-dropdown class="form-control" [options]="greadeDropdown" [(ngModel)]="selectedGrade"
                *ngIf="mode ==='create' || mode==='update'"
                placeholder="{{employee.labourGrade ? employee.labourGrade.labourGradeName : 'choose a Labour Grade'}}"
                optionLabel="label" [style]="{'border-width':'0px','padding':'0px','width':'100%'}"></p-dropdown>
        </div>
        <span *ngIf="alerts.labourGrade" class="error my-2"><small>{{alerts.labourGrade.msg}}</small></span>

    </div>
    <div class="col-1"></div>
    <div class="col-5">

        <!-- supervisor -->
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Supervisor</span>
            </div>
            <input type="text" class="form-control"
                value="{{employee.supervisor.empFirstName}} {{employee.supervisor.empLastName}}" *ngIf="mode==='read'"
                [readOnly]="true">
            <p-dropdown class="form-control" [options]="employeeDropdown" [(ngModel)]="selectedSupervisor"
                *ngIf="mode ==='create' || mode==='update'"
                placeholder="{{employee.supervisor ? employee.supervisor.empFirstName + ' ' + employee.supervisor.empLastName : 'choose a supervisor'}}"
                optionLabel="label" [style]="{'border-width':'0px','padding':'0px','width':'100%'}"></p-dropdown>
        </div>
        <span *ngIf="alerts.supervisor" class="error my-2"><small>{{alerts.supervisor.msg}}</small></span>


    </div>
    <div class="col-1"></div>
</div>
<div class="  my-3"></div>

<div class="dropdown-divider  my-3"></div>
<h5 class="my-3">Activation</h5>
<div class="form-row">
    <div class="col-12">

        <!-- active/deactive -->
        <div class="input-group">
            <!-- <div class="input-group-prepend">
                        <span class="input-group-text">Activation</span>
                    </div> -->
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label
                    [className]="employee.isActivated ? 'btn btn-outline-secondary active' : 'btn btn-outline-secondary'">
                    <input type="radio" name="activation" id="active" [value]=true [(ngModel)]="employee.isActivated"
                        [disabled]="mode==='read'">
                    Active
                </label>
                <label
                    [className]="employee.isActivated ? 'btn btn-outline-secondary' : 'btn btn-outline-secondary active'">
                    <!--  [className]="employee.isActivated ? 'btn btn-outline-secondary' : 'btn btn-outline-secondary active'" -->
                    <input type="radio" name="activation" id="deactive" [value]=false [(ngModel)]="employee.isActivated"
                        [disabled]="mode==='read'"> Deactive
                </label>
            </div>
        </div>

    </div>
</div>

<div class=" my-3"></div>
<div class="dropdown-divider  my-3"></div>
<h5 class="my-3">Permissions</h5>
<div class="form-row">
    <div class="col-12">

        <!-- permission -->
        <div class="input-group">
            <!-- <div class="input-group-prepend">
                        <span class="input-group-text">Permissions</span>
                    </div> -->
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label
                    [className]="employee.isAdmin ? 'btn btn-outline-secondary active' : 'btn btn-outline-secondary'">
                    <input type="checkbox" autocomplete="off" [value]="!employee.isAdmin" [disabled]="mode==='read'"
                        [(ngModel)]="employee.isAdmin">
                    Administrator Permission
                </label>
                <label
                    [className]="employee.isProjectManager ? 'btn btn-outline-secondary active' : 'btn btn-outline-secondary'">
                    <input type="checkbox" autocomplete="off" [value]="!employee.isProjectManager"
                        [disabled]="mode==='read'" [(ngModel)]="employee.isProjectManager"> PM/EM?? Manager
                    Permission
                </label>
                <label
                    [className]="employee.isHumanResources ? 'btn btn-outline-secondary active' : 'btn btn-outline-secondary'">
                    <input type="checkbox" autocomplete="off" [value]="!employee.isHumanResources "
                        [disabled]="mode==='read'" [(ngModel)]="employee.isHumanResources"> Humane Resource Permission
                </label>
            </div>

        </div>
    </div>
</div>